h2, h3{
  font-family: 'Courgette', cursive;
}

.lotname {
  font-family: 'Courgette', cursive;
  font-size: 200%
}

.productname {
  font-family: 'Courgette', cursive;
  font-size: 150%
}
.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}


.item{
    /*background: #333;*/
    text-align: center;
    height: 500px;
    width: auto;
}

.navbar {
    margin-bottom: 0;
}
