<div class="container">
  <h2>Welcome to Oregon Crafter!</h2>
  <h4>A place where you can exhibit and link to your Oregon-made products!
  Choose an existing department or add your own and then add your products.</h4>
</div>
